/node_modules
/public/uploads
/public/storage
/storage/*.key
/vendor
/public/airline_compose_file
/public/compose_file
/public/claim_note_files
/public/BlogImage
/public/ticket_reply_file
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
